{% extends "homepage.html" %}

{% block body %}
{% include "navbar.html" %}

<img src="{{url_for('static', filename='fotos_site/fundo-login2.jpg')}}" class="imagem-pinterest" />
    <div class="container-popup" style="">
        <form method=["POST","GET"] class="popup">
            <p><h2><em>BEM-VINDO(A) </em></h2></p>
             <h6> DESENVOLVIMENTO DE SITES <h6>  
            <h2><p> AULA PARTICULAR DE</p></h2>
            <h2><p> MATEMÁTICA E INFORMÁTICA </p></h2>

            
            <h2><p>VENHA ESTUDAR CONOSCO</p></h2>
            <a href="{{ url_for('homepage') }}"class="link-criarconta">
                <h4>ACESSE A PAGINA PRINCIPAL </h4>
        </form>
{% endblock %}



