{% extends "homepage.html" %}

{% block body %}
{% include "navbar.html" %}

<img src="{{url_for('static', filename='fotos_site/fundo-login2.jpeg')}}" class="imagem-pinterest" />
    <div class="container-popup" style="">
        <form method=["POST","GET"] class="popup">
            <p><h2><em>BEM-VINDO(A) AO EXACT-TECHNOLOGY</em></h2></p>
            <h2><p>MATEMÁTICA</p></h2>
            <h2><p> E INFORMÁTICA </p></h2>
            <H6>AULAS ONLINE E PRESENCIAIS</H6>

            <h2>ACESSE SUA ÁREA DE LOGIN</h2>
            <h2><p>VENHA ESTUDAR CONOSCO</p></h2>
            <a href="{{ url_for('homepage') }}"class="link-criarconta">
                <h4> JÁ TEM UMA CONTA, FAÇA LOGIN </h4>
        </form>
{% endblock %}



